@import './el-ui.less';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

a{
  &:link {
    color: #2c7fa5;
  }
  &:visited {
    color:#2a53af;
  }
  &:hover {
    color: #35b3a0;
  }
  &:active {
    color: #6f69c0;
  }
}


/*css主要部分的样式*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 8px; /*对垂直流动条有效*/
  height: 8px; /*对水平流动条有效*/
  }
  
  /*定义滚动条的轨道颜色、内阴影及圆角*/
  ::-webkit-scrollbar-track{
  box-shadow: 0 0 6px rgba(96, 154, 216, 0.472);
  border-radius: 3px;
  }
  
  
  /*定义滑块颜色、内阴影及圆角*/
  ::-webkit-scrollbar-thumb{
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(11, 200, 224, 0.3);
  background-color: rgba(102, 163, 243, 0.5)
  }
  
  /*定义两端按钮的样式*/
  ::-webkit-scrollbar-button {
  display: none;
  }
  
  /*定义右下角汇合处的样式*/
  ::-webkit-scrollbar-corner {
  display: none;
  }

  /* animation */

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    40% {
      clip-path: circle(0);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in;
    animation-duration: 0.5s linear;
    -webkit-animation: fade-in 0.5s ease-in; /*针对webkit内核*/
  }

  @keyframes typing { from { width: 0; opacity: 0;} 
                      50% { opacity: 1;}}

  .title-typing {
    width: 30em; 
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 20s steps(30, end), /* # of steps = # of chars */
	           blink-caret .5s step-end infinite alternate;
    -webkit-animation: typing 1.5s steps(30,end) forwards;
    text-align: center;
    
  }