@font-face {
  font-family: "iconfont"; /* Project id 2887882 */
  src: url('iconfont.woff2?t=1634970932870') format('woff2'),
       url('iconfont.woff?t=1634970932870') format('woff'),
       url('iconfont.ttf?t=1634970932870') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ar-delete:before {
  content: "\e6b4";
}

.icon-ar-custom-user:before {
  content: "\e632";
}

.icon-ar-xiezuo:before {
  content: "\e607";
}

.icon-ar-shoucangjia:before {
  content: "\e672";
}

.icon-ar-view:before {
  content: "\e6e1";
}

.icon-ar-lookup:before {
  content: "\e60d";
}

.icon-ar-passwordcopy:before {
  content: "\e61d";
}

.icon-ar-kongzhizhongxin:before {
  content: "\eafa";
}

.icon-ar-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-ar-jiantou_xiangzuoliangci:before {
  content: "\eb0a";
}

.icon-ar-write:before {
  content: "\e80e";
}

.icon-ar-zhuye:before {
  content: "\e619";
}

.icon-ar-tuijian:before {
  content: "\e731";
}

.icon-ar-reply:before {
  content: "\e606";
}

.icon-ar-ic_locate_line:before {
  content: "\e610";
}

.icon-ar-collection:before {
  content: "\e6a5";
}

.icon-ar-edit:before {
  content: "\e6aa";
}

.icon-ar-openmail:before {
  content: "\e6c9";
}

.icon-ar-thumb-up:before {
  content: "\e6ad";
}

.icon-ar-a-icon_Articlelist:before {
  content: "\e624";
}

.icon-ar-gerenzhongxin-gerenxinxi:before {
  content: "\e62c";
}

.icon-ar-biaojiyidu:before {
  content: "\e680";
}

.icon-ar-algertMsg:before {
  content: "\e60b";
}

.icon-ar-login:before {
  content: "\e636";
}

